<div style="order:{{i}};" data-box-cat="{{info.boxCat}}" class="js-box-group-modern l-grid__item l-grid__item-3 u-non-grow l-grid__item-4@t-m l-grid__item-6@m l-grid__item-12@m-s">
  <div class="c-box js-tooltip-trigger-modern" data-box-tooltip-trigger="{{info.boxID}}">
    <div class="c-box__bg">
      <img class="js-lazyload o-image o-image--fit" data-src="{{info.imgUrl}}" alt="{{info.title}}">
    </div>

    <div class="c-box__content">
      <p class="c-box__title">{{info.title}}</p>
      <p class="c-box__subtitle">{{info.subtitle}}</p>
    </div>
  </div>
</div>