<div style="order:{{i}};" class="l-grid__item l-grid__item-3 u-non-grow l-grid__item-4@t-m l-grid__item-6@m l-grid__item-12@m-s">
  <div class="c-user-box js-box" data-box-tooltip-trigger="{{user.boxID}}">
    <div class="c-user-box__img-wrap">
      <img class="c-user-box__img" style="background-image:url({{user.imgUrl}});">
    </div>
    
    <div class="c-user-box__content">
      <h3 class="t-head t-head--s2 c-user-box__name u-text-bold">{{user.name}}</h3>
      <h4 class="t-head t-head--s3 c-user-box__title u-text-light">{{user.title}}</h4>
    </div>
  </div>
</div>