<div style="order:{{i}};" class="l-grid__item l-grid__item-3 u-non-grow l-grid__item-6@m">
  <div class="c-user-box js-tooltip-trigger-user" data-box-tooltip-trigger="{{user.boxID}}">
    <div class="c-user-box__img-wrap">
      <img class="o-image o-image--fit c-user-box__img js-lazyload" data-src="{{user.imgUrl}}" alt="{{user.name}}">
    </div>

    <div class="c-user-box__content">
      <h3 class="t-head t-head--s2 c-user-box__name u-text-bold u-text-transform-normal">{{user.name}}</h3>
      <h4 class="t-head t-head--s3 c-user-box__title u-text-light u-text-transform-normal">{{user.title}}</h4>
    </div>
  </div>
</div>